@import "../../styles/variables.scss";
.barchart{  
    color: $main-color;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h3{
        align-self: flex-start;
    }
    .barchart-box{
        height: 80%;
        width: 80%;
    }
}